<section class="clearfix">
  <div class="modal-body">
    <section class="sidebar boxed">
      <div>
        You have:<br/>
        <span class="lead">{{ subscribers.length }}</span>
        <br/>subscribers.
      </div>
    </section>

    <section class="main">
      <section class="feed">
        <div ng-repeat="subscriber in subscribers">
          <div class="clearfix">
            <div class="pull-left content">
              <h3>{{ subscriber.name }}</h3><h4>{{ subscriber.email }}</h4>
            </div>
            <div class="pull-right">
              <img class="img-rounded" ng-src='{{ subscriber | profilePicture }}'/>
            </div>
          </div>
          <div class="clearfix">
            <ul class="pull-left">
              <li><a ng-click="deleteSubscriber(subscriber.id)">Delete</a></li>
            </ul>
          </div>
        </div>
      </section>
    </section>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">Close</button>
  </div>
</section>