<div>
  <div class="panel panel-default">
    <div class="panel-heading">Configuration</div>
    <table class="table config">
      <tr>
        <th class="key" translate>key</th>
        <th translate>value</th>
      </tr>
      <tr ng-repeat="configuration in configurations"
          ng-controller="RowCtrl"
          ng-class="{highlight: hover}"
          ng-mouseenter="hover = true"
          ng-mouseleave="hover = false">
        <td>{{configuration.key}}</td>
        <td ng-hide="editing" ng-click="clickEffect()">{{configuration.value}}</td>
        <td ng-show="editing">
          <input type="text" ng-model="configuration.value"/>
          <button class="btn btn-sm btn-primary" ng-click="save()" translated>save</button>
          <button class="btn btn-sm" ng-click="clear()" translated>clear</button>
          <button class="btn btn-sm" ng-click="cancel()" translated>cancel</button>
        </td>
      </tr>
    </table>
  </div>
</div>
